[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "deformula"]
	path = deformula
	url = https://github.com/okamumu/deformula
[submodule "mapfit"]
	path = mapfit
	url = https://github.com/okamumu/mapfit
